{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-new": "off",
    "no-param-reassign": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }]
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": true,
        "Vue": true,
        "VueQrcode": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
